.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
  list-style: none;
  padding: 0;
}

.link {
  font-size: 20px;
}

.activeLink {
  color: blueviolet;
}
